.cart-dropdown-container {
  position: absolute;
  width: 240px;
  height: 340px;
  display: flex;
  flex-direction: column;
  padding: 20px;
  border: 1px solid black;
  background-color: white;
  top: 90px;
  right: 40px;
  z-index: 100;
  overflow-y: scroll;
  overflow-x: hidden;
  padding-bottom: 0.6rem;

  .empty-message {
    font-size: 18px;
    margin: 50px auto;
  }

  .cart-items {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  button {
    margin-top: auto;
  }

  .button-container:last-child {
    margin-top: 0.5rem;
  }
}
